{% load i18n %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% trans 'Time & Task Tracker Application' %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'currency_exchange:index' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'currency_exchange:project-list' %}">{% trans 'Projects' %}</a></li>
                <li><a href="{% url 'currency_exchange:tasks-list' %}">{% trans 'Tasks' %}</a></li>
                <li><a href="{% url 'currency_exchange:provider-list' %}">{% trans 'Currency Exchange Rates' %}</a></li>
{#              <li><a href="#contact">Contact</a></li>#}
            </ul>
        </div>
    </div>
</nav>